<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head (${title})"></head>

<body>
	<nav th:replace="base :: nav-logged (${user.isCoordenador()} )" th:if="${user.isProfessor()} == 'true'"></nav>

	<!-- Begin page content -->
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Professores</div>
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="professor : ${professores}">
						<td th:text="${professor.nome}"></td>
						<td th:text="${professor.email}"></td>
						<td><a th:href="@{/professor/edit/} + ${professor.id}">Editar</a></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/professor/new}">Novo Professor</a>
		</div>
	</div>
	<!-- End page content -->
	<footer th:replace="base :: footer"></footer>
</body>

</html>
