<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head (${title})"></head>

<body>
	<nav th:replace="base :: nav"></nav>

	<!-- Begin page content -->
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Editar Aluno</div>
			<form method="post" th:action="@{/aluno/edit/} + ${aluno.numero}">
				<label>Nome</label>
				<input type="text" id="nome" name="nome" th:value="*{aluno.nome}" />
				<label>Email</label>
				<input type="text" id="email" name="email" th:value="*{aluno.email}" />
				<label>Password</label>
				<input type="password" id="password" name="password" th:value="*{password}" />
			    <input type="submit" id="create" value="Salvar" />
			</form>
		</div>
	</div>
	<!-- End page content -->
	<footer th:replace="base :: footer"></footer>
</body>

</html>
