<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head (${title})"></head>

<body>
	<nav th:replace="base :: nav-logged (${user.isCoordenador()} )" th:if="${user.isProfessor()} == true"></nav>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="panel-heading"><h4 align="center">Criar um novo aluno</h4></div>
						<form method="post" th:action="@{/aluno/new}" class="form-horizontal">
							<div class="form-group">
								<label for="nome" class="col-md-3 col-lg-3 control-label">Nome </label>
								<div class="col-md-6 col-lg-6">
									<input type="text" class="form-control" id="nome" name="nome" th:value="*{nome}" required="true" />
								</div>
							</div>
							<div class="form-group">
								<label for="numero" class="col-md-3 col-lg-3 control-label">Numero </label>
								<div class="col-md-6 col-lg-6">
									<input type="text" class="form-control" id="numero" name="numero" th:value="*{numero}" required="true" />
								</div>
							</div>
							<div class="form-group">
								<label for="email" class="col-md-3 col-lg-3 control-label">Email </label>
								<div class="col-md-8 col-lg-8">
									<input type="email" class="form-control" id="email" name="email" th:value="*{email}" required="true" />
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="col-md-3 col-lg-3 control-label">Senha </label>
								<div class="col-md-6 col-lg-6">
									<input type="password" id="password" class="form-control" name="password" th:value="*{password}" required="true" />
								</div>
							</div>
							<!--<div class="form-group">
								<label for="password_" class="col-md-2 col-lg-2 control-label">Repetir senha</label>
								<div class="col-md-4 col-lg-4">
									<input type="password" id="password_" class="form-control" name="password" th:value="*{password}" onchange="checkPasswordMatch();" required="true" />
								</div>
								<div class="col-md-3 col-lg-3">
									<div class="alert alert-warning" role="alert" id="bad" style="display: none;">Senhas diferentes</div>
									<div class="alert alert-success" role="alert" id="good" style="display: none;">Senhas iguais</div>
								</div>
							</div>-->
							<div class="form-group">
								<div class="col-md-2 col-lg-2">
									<input type="submit" id="create" class="btn btn-default" value="Criar" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End page content -->
	<footer th:replace="base :: footer"></footer>
	<script>
		function checkPasswordMatch() {
			var password = $("#password").val();
			var confirmPassword = $("#password_").val();

			if (password != confirmPassword) {
				$("#bad").show();
			} else {
				$("#bad").hide();
				$("#good").show();
			}
		}
	</script>
</body>

</html>
