<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head (${title})"></head>

<body>
	<nav th:replace="base :: nav"></nav>

	<!-- Begin page content -->
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Adicionar disciplinas</div>
			<ul class="list-group" th:each="disciplina : ${turma.disciplinas}">
				<li class="list-group-item"  th:text="${disciplina.nome}"></li>
			</ul>
			<form method="post" th:action="@{/turma/edit/disciplinas/} + ${turma.id}">
				<select th:field="*{disciplina}">
				  <option th:each="disciplina : ${disciplinas}" 
				          th:value="${disciplina.nome}" 
				          th:text="${disciplina.nome}"></option>
				</select>
			    <input type="submit" id="create" value="Adicionar" />
			</form>
		</div>
	</div>
	<!-- End page content -->
	<footer th:replace="base :: footer"></footer>
</body>

</html>
