<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head th:replace="base :: head (${title})"></head>
<body>
	<nav th:replace="base :: nav"></nav>

<!-- Begin page content -->
	<div class="container">
<div class="panel panel-default">
	<div class="panel-heading">Professor</div>
	<ul class="list-group">
		<li class="list-group-item" th:text="${turma.ano}"></li>
		<li class="list-group-item" th:text="${turma.engenharia}"></li>
	</ul>
</div>
	</div>
<!-- End page content -->
	<footer th:replace="base :: footer"></footer>
</body>
</html>
